<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EcoTrack - Project Description</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container py-5">
        <h1 class="text-primary">EcoTrack</h1>
        <div class="row">
            <div class="col-lg-8">
                <p>A mobile app that helps users monitor and reduce their carbon footprint by tracking energy consumption, offering eco-friendly tips, and setting sustainability goals.</p>
                <h3>Key Features:</h3>
                <ul>
                    <li>Energy consumption tracking</li>
                    <li>Eco-friendly tips and recommendations</li>
                    <li>Sustainability goal setting</li>
                    <li>Carbon footprint monitoring</li>
                </ul>
                <a href="index.html" class="btn btn-primary mt-3">Back to Portfolio </a>
            </div>
            <div class="col-lg-4">
                <img src="img/ecotrack.png" alt="EcoTrack" class="img-fluid rounded">
            </div>
        </div>
    </div>
</body>
</html>